@mixin displayFlex($jc: center, $fd: row) {
  display: flex;
  align-items: center;
  justify-content: $jc;
  flex-direction: $fd;
}

@mixin iconStyle($fs: 1.5rem) {
  @include displayFlex();
  font-size: $fs;
  border: none;
  background-color: transparent;
}