@use "../../styles/mixins" as *;

.overlay__container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  min-height: 100%;
  @include displayFlex();

  .overlay {
    margin: 10vh 0;
    background-color: #FDF5DF;
    width: 65%;
    height: 80vh;
    overflow-y: auto;
    box-shadow: 5px 5px 20px black;
    @include displayFlex(flex-start, column);

    &__header {
      position: sticky;
      top: 0;
      background-color: #373A36;
      color: white;
      width: 100%;
      padding: 1rem;
      @include displayFlex(space-around);
      font-size: 1.3rem;

      span > * {
        color: yellow;
      }

      .overlay-close {
        position: absolute;
        right: 1.5vw;
        @include iconStyle();
        color: white;
      }
    }

    &__body {
      width: 100%;
      @include displayFlex(space-around, column);
    }
  }
}