@mixin displayFlex($jc: center, $fd: row) {
  display: flex;
  align-items: center;
  justify-content: $jc;
  flex-direction: $fd;
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  min-height: 100%;
  @include displayFlex(center);

  .overlay {
    margin: 10vh 0;
    background-color: #FDF5DF;
    width: 80%;
    min-height: 80vh;
    @include displayFlex(flex-start, column);

    .overlay-header {
      background-color: #373A36;
      color: white;
      width: 100%;
      padding: 1rem;
      @include displayFlex(space-around);
      font-size: 1.3rem;

      span > * {
        color: yellow;
      }
    }

    .overlay-content {
      width: 100%;
      @include displayFlex(space-around, column);
      position: relative;
    }
  }
}