@use '../../../../../styles/variables' as *;
@use '../../../../../styles/mixins' as *;

.retailer {
  background-color: $retailer-bg;
  min-height: 85vh;
  @include displayFlex(flex-start, column);

  &__header {
    background-color: $retailer-header-bg;
    color: white;
    width: 100%;
    padding: 2vh 0;
    font-size: 1.2rem;
    @include displayFlex($fd: column);

    p {
      padding: 1vh 0;
      text-align: center;

      span {
        color: $retailer-header-title;
      }
    }
  }

  &__body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;

    .product {
      background-color: $product-bg;
      margin: 1rem;
      padding: .5rem;
      box-shadow: 2px 2px 3px;
      @include displayFlex($fd: column);

      p {
        margin: .5rem;
      }
    }
  }
}