@use './../../../../styles/variables' as *;
@use './../../../../styles/mixins' as *;

.wholesaler {
  background-color: $wholesaler-bg;
  color: white;
  grid-area: wholesaler;
  height: 15vh;
  @include displayFlex(space-evenly);

  .retailer {
    background-color: $wholesaler-retailer-bg;
    color: black;
    @include displayFlex(center);
    flex-direction: column;
    min-height: 12vh;
    min-width: 8vw;

    & > * {
      margin: .5rem;
    }

    &__name {
      font-size: 1.1rem;
    }

    &__supply {
      border: none;
      padding: 1vh 1vw;
      background-color: $wholesaler-retailer-btn;
      color: white;
      box-shadow: 2px 2px 2px gray;
    }

    &__supply:active {
      box-shadow: 3px 3px 3px gray;
    }
  }
}