@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as *;

.purchase-header {
  position: sticky;
  top: 57px;
  background-color: $retailer-header-bg;
  color: white;
  @include displayFlex(center);
  padding: 1rem;
  width: 100%;
  font-size: 1.3rem;

  button {
    position: absolute;
    right: 3vw;
    @include iconStyle();
    color: white;
  }
}

.purchase-form {
  width: 100%;
  @include displayFlex(center, column);

  .single-purchase-form {
    background-color: $product-bg;
    display: grid;
    grid-template-areas: 
    'form-elements delete-button'
    'error-message error-message';
    border: 2px solid #373A36;
    margin: 1.5rem;
    padding: .5rem;
    
    // form elements container
    .form-elements {
      grid-area: form-elements;
      @include displayFlex(center, row);

      & > div {
        @include displayFlex(center, column);
        margin: 2vh 1.5vw;

        & > * {
          padding: .5rem;
        }
      }

      .quantity-container {
        input {
          width: 8vw;
        }
      }

      .price {
        span:last-child {
          background-color: white;
          padding: 1vh 1vw;
          margin: 0;
        }
      }

    }

    .error-message {
      grid-area: error-message;
      @include displayFlex(center);
      padding: 1rem;

      span {
        color: red;
      }
    }

    .delete-button {
      grid-area: delete-button;
      @include displayFlex(center);
      padding: 1rem;

      button {
        @include iconStyle(1.6rem);
        color: black;
        padding: 0;
      }
    }
  }

  // supply and cancel button
  .supply-cancel {
    @include displayFlex(center);
    margin: 1rem;

    > * {
      margin: 0 3vw;
    }

    button {
      background-color: $retailer-header-bg;
      color: white;
      border: none;
      padding: .5rem;
      font-size: 1.1rem;
      box-shadow: 1px 1px 2px black;

      &:active {
        box-shadow: 2px 2px 4px black;
      }
    }
  }
}

.no-stock-message {
  @include displayFlex(center);
  height: 60vh;

  p {
    font-size: 1.5rem;
  }
}